/*MinimumFullSize*/
#pageFullSize{margin:0 auto; width:830px;}

/*Simple Attribut*/


/*-----Title Section-----*/
#titleBox{margin-top: 5%;}

/*Top ToolBar*/
#topToolBar{height: 75px;}

/*LeftTop Language Menu*/
#language{float: left; font-size: 40px;}
#topLogo{margin-right: 10px; width: 50px; height: 50px; float: left;}

/*LogIn & Register*/
#regiLog{float: right}

/*CenterTop Logo & Name*/ 
#titleLogo{font-size: 50px; text-align: center; }
#titleLogoImage{margin-left: 10px; width: 60px; height: 60px;}

